* {
  padding 0
  margin 0
  list-style none
  border none
  background none
  outline none
  box-sizing border-box
}
.pointer {
  cursor pointer
}
.overlay {
  position fixed
  top: 0
  left 0
  background-color rgba(0, 0, 0, .3)
  width 100vw
  height 100vh
}
.form-group.error input {
  border-color #ff0000
}
